<!--
This is the base page from which other pages on this site are derived. 
It includes JQuery and Bootstrap CDNs. 
Created by Matthew Weaver 2016 for Objectivity.
-->
{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <title>
            {% block title %}
                The title of my page
            {% endblock title %}
        </title>
        
        {% block header %}
            <!-- Links to jquery and bootstrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock header %}     
        <script>
            <!-- Click event for the Home button shown in the page header -->
            function GoHome() {
                window.location.href = "{% url 'home' %}";             
            }
            
            <!-- Click event for the About button shown in the page header -->
            function GoAbout() {
                window.location.href = "{% url 'about' %}";             
            }

            <!-- Click event for the Sentiment analysis button shown in the page header -->
            function GoSentimentAnalysis() {
                window.location.href = "{% url 'sentiment' %}";             
            }
        </script>
    </head>
    <body>
        <!-- The page header provides simple site navigation -->
        <header>            
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">Objectivity</a>
                </div>
                <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'sentiment' %}">Sentiment analysis</a></li>
                        <li><a href="#">Book query</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </li>               
                <li><a href="{% url 'about' %}">About</a></li>
                </ul>
                </div>
            </nav>           
        </header>
        <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            {% block content %}
                Base.html body content
            {% endblock content %} 
        </div>
        <div class="col-sm-1"></div>
        </div>           
    </body>
</html>

