<!--
HTML index page - derives from base.html
Matthew Weaver, 2016
-->
{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}
{% block content %}
    <br>
    <h1>Objectivity cognitive services playground</h1>
    <p>New technology is truly amazing. At <a href="http://www.objectivity.co.uk/about-us/">Objectivity</a>, we have many engineers who contribute to, talk about and endorse new and emerging technologies. As excited as we are, we never lose sight of how we can apply our knowledge to help solve difficult business problems. This playground is an opportunity for us to demonstrate what we have learned.  And hopefully get feedback on how we can improve what we are doing.</p>
    </br>
    <h3>The science bit</h3>
    <ul class="list-group">
        <li class="list-group-item">This site uses Python, Django, JQuery, Bootstrap and Google cognitive services.</li>
        <li class="list-group-item">Each Services page shows how emerging technologies may be applied to address real world problems.</li>
    </ul>
    <br>
    <div class="panel panel-primary">
      <div class="panel-heading"><h4>Created by eager technologists for Objectivity</h4></div>
      <div class="panel-body">Please feel free to share your thoughts, ideas and suggestions. The code is available on GitHub and we hope to make regular updates. Please send thoughts, comments and suggestions to <a href="mailto:mweaver@objectivity.co.uk?Subject=Objectivity%20cognitive%20services%20feedback" target="_top">Matthew Weaver</a>, consultancy director, Objectivity.<br><br>I'd like to say a special thanks to <a href="https://www.python.org/"><kbd>Python</kbd></a> and <a href="https://code.visualstudio.com/"><kbd>Visual Studio Code</kbd></a>...you both rock!</div>
    </div>
      <a href="http://www.objectivity.co.uk/about-us/">Objectivity</a> - values driven digital transformation
{% endblock content %}  


