<!--
HTML Sentiment Analysis page - derives from base.html
Matthew Weaver, 2016
-->
{% extends 'base.html' %}
{% block title %}
    Sentiment Analysis - {{ block.super }}
{% endblock title %}
{% block content %}
    <br>
    <h1>Sentiment analysis</h1>
    <br>
    <form>
        <div class="form-group">
            <label for="textAnalysis">Type or paste text here</label>
            <textarea class="form-control" rows="5" id="textAnalysis"></textarea>
        </div>
        <button type="submit" class="btn btn-default"> Analyse</button>
    </form>
{% endblock content %} 