<!--
HTML Sentiment Analysis page - derives from base.html
Matthew Weaver, 2016
-->
{% extends 'base.html' %}
{% block title %}
    Sentiment Analysis - {{ block.super }}
{% endblock title %}

{% block header %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
    <script>
        <!-- Click event for the Home button shown in the page header -->
        function PositiveSample() {
            document.getElementById("sent_text").value = 'We just returned from a wonderful holiday in Paris. The hotel was excellent and so was the food. It was our first holiday in some time and we definitely enjoyed the break. I am giving our hotel a five star rating when we get home and I will definitely consider going there again next year.';           
        }
        
        <!-- Click event for the About button shown in the page header -->
        function NegativeSample() {
            document.getElementById("sent_text").value = 'What an awful holiday! There was a five hour flight delay and the cabin crew were rude beyond belief. The hotel was dirty and I would not feed my dog with the food they served us. I will definitely not be going back there again. I am giving our hotel a zero star rating when I get home.';             
        }
    </script>
{% endblock header %}
{% block content %}
    <br>
    <h1>Sentiment analysis</h1>
    <p>This demo measures the overall sentiment of the text in the input field below. Enter or paste in some text and then press the analyse button. Alternatively, click the positive sample and negative sample buttons if you want ready made examples of positive and negative text. 
    Use cases for this service include:<br></p>
      <ul>
    <li>Automated email processing</li>
    <li>Customer service responses</li>
    <li>Checking text from sales & marketing documentation</li>
  </ul>
    <br>
    <form action="sentiment_post" method="post">{% csrf_token %}
        <div class="form-group">
            <textarea id="sent_text" name="sent_text" class="form-control" rows="5" id="textAnalysis">{{text_data}}</textarea>
        </div>
        <br>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" onclick="PositiveSample()">Positive sample</button>
            <button type="button" class="btn btn-primary" onclick="NegativeSample()">Negative sample</button>
        </div> 
        <br><br>
        <button type="submit" class="btn btn-default">Analyse</button>
        <br><br>
        

        <h3>Summary output</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Score</th>
                    <th>magnitude</th>
                    <th>Sentence</th>
                </tr>
            </thead>
            <tbody>
                <!--  -->
                {% for i in sentiment_response.sentences %}
                    {% if i.sentiment.score < -0.33 %}
                        <tr class="danger">
                            <td>{{i.sentiment.score}}</td>
                            <td>{{i.sentiment.magnitude}}</td>
                            <td>{{i.text.content}}</td>
                        </tr>            
                    {% elif i.sentiment.score > 0.33 %}
                        <tr class="success">
                            <td>{{i.sentiment.score}}</td>
                            <td>{{i.sentiment.magnitude}}</td>
                            <td>{{i.text.content}}</td>
                        </tr> 
                    {% else %}
                        <tr class="warning">
                            <td>{{i.sentiment.score}}</td>
                            <td>{{i.sentiment.magnitude}}</td>
                            <td>{{i.text.content}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </form>
    <br>
{% endblock content %} 