<!--
HTML Sentiment Analysis page - derives from base.html
Matthew Weaver, 2016
-->
{% extends 'base.html' %}
{% block title %}
    Sentiment Analysis - {{ block.super }}
{% endblock title %}

{% block header %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
    <script>
        <!-- Click event for the Home button shown in the page header -->
        function PositiveSample() {
            document.getElementById("sent_text").value = 'The holiday was simply amazing. The food was excellent and we met some really interesting people. Relaxing on the beach in the glorious sunshine is something I definitely need to do more.';           
        }
        
        <!-- Click event for the About button shown in the page header -->
        function NegativeSample() {
            document.getElementById("sent_text").value = 'Well I do not want to go through that ordeal again. It was a complete nightmare. Spending 8 hours in traffic with nobody to talk to is just the worst possible way to spend a day.';             
        }
    </script>
{% endblock header %}
{% block content %}
    <br>
    <h1>Sentiment analysis</h1>
    <p>This demo measures the overall sentiment of the information that you enter below. It calculates a score and returns this as a percentage. A low score implies an overall negative sentiment and a high score implies an overall positive sentiment.<br><br>Use cases for this service include:<br></p>
      <ul>
    <li>Automated email processing</li>
    <li>Customer service responses</li>
    <li>Checking text from sales & marketing documentation</li>
  </ul>
    <br>
    <form action="sentiment_post" method="post">{% csrf_token %}
        <div class="form-group">
            <textarea id="sent_text" name="sent_text" class="form-control" rows="5" id="textAnalysis">{{text_data}}</textarea>
        </div>
        <br>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" onclick="PositiveSample()">Positive sample</button>
            <button type="button" class="btn btn-primary" onclick="NegativeSample()">Negative sample</button>
        </div> 
        <br><br>
        <button type="submit" class="btn btn-default">Analyse</button>
        <br><br>

        {% for i in sentiment_response.sentences %}
            {% if i.sentiment.score < -0.33 %}
                <li class="list-group-item list-group-item-danger">{{i.text.content}}</li>            
            {% elif i.sentiment.score > 0.33 %}
                <li class="list-group-item list-group-item-success">{{i.text.content}}</li>   
            {% else %}
                <li class="list-group-item list-group-item-warning">{{i.text.content}}</li>
            {% endif %}
        {% endfor %}
    </form>
    <br>
{% endblock content %} 